{% extends 'base.html.twig' %}



{% block text %}
{% if action == "ajouter" %}
<h1>Ajouter une entreprise</h1>
{% else %}
<h1>Modifier une entreprise</h1>
{% endif %}
{{form_start(vueFormulaire)}}

{{form_row(vueFormulaire.nom, {'attr':{'placeholder':"Nom de l'entreprise..."}})}}

{{form_row(vueFormulaire.adresse, {'attr':{'placeholder':"Adresse de l'entreprise..."}})}}

{{form_row(vueFormulaire.dommaineActivite, {'attr':{'placeholder':"Dommaine d'activité de l'entreprise..."}})}}

{{form_row(vueFormulaire.numTel, {'attr':{'placeholder':"Numéro de téléphone de l'entreprise..."}})}}

{{form_row(vueFormulaire.sitWeb, {'attr':{'placeholder':"Url du site Web de l'entreprise..."}})}}

<br><button type="submit" class="btn btn-secondary btn-lg btn-block">Enregistrer</button>

{{form_end(vueFormulaire)}}

{% endblock %}
