{% extends 'base.html.twig' %}



		{% block tableau %}
		<h1>Tableau des Entreprises</h1>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover table-bordered border-dark">
					<thead>
						<tr>
							<th>
								<center>Entreprise</center>
							</th>
              <th>
								<center>Adresse</center>
							</th>
              <th>
								<center>Dommaine d'activité</center>
							</th>
              <th>
								<center>Numéro de téléphone</center>
							</th>
              <th>
								<center>Site web</center>
							</th>
              <th>
								<center>Modifier</center>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for entrepriseCourante in entreprises %}
						<tr class="table-active">
							<td>
									<a href="{{path('pro_stage_afficherStagesParEntreprises',{nom:entrepriseCourante.nom})}}"><center>{{entrepriseCourante.nom}}</center></a>
							</td>
              <td>
									<center>{{entrepriseCourante.adresse}}</center>
							</td>
              <td>
									<center>{{entrepriseCourante.dommaineActivite}}</center>
							</td>
              <td>
									<center>{{entrepriseCourante.numTel}}</center>
							</td>
              <td>
									<center>{{entrepriseCourante.sitWeb}}</center>
							</td>
              <td>
									<a href="{{path('pro_stage_modifierEntreprise',{id:entrepriseCourante.id})}}"><center>Modifier</center></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endblock %}
