{% extends 'base.html.twig' %}

{% block titre %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

<div class="col-md-12">
  <h3 class="text-center text-info">
    Page d'acceuil ProStage
  </h3>
</div>
			</nav>
		</div>

{% endblock %}

{% block tableau %}
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>
            <center>Stages</center>
          </th>
          <th>
            <center>Entreprises</center>
          </th>
          <th>
            <center>Formations</center>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active">
          <td>
              <a href="{{path('pro_stage_stage',{id:1})}}"><center>Stage 1</center></a>
          </td>
          <td>
              <center>Entreprise 2</center>
          </td>
          <td>
            <center>Formation 1</center>
          </td>
        </tr>
        <tr class="table-active">
          <td>
              <a href="{{path('pro_stage_stage',{id:2})}}"><center>Stage 2</center></a>
          </td>
          <td>
              <center>Entreprise 2</center>
          </td>
          <td>
              <center>Formation 2</center>
          </td>
        </tr>
        <tr class="table-active">
          <td>
              <a href="{{path('pro_stage_stage',{id:3})}}"><center>Stage 3</center></a>
          </td>
          <td>
              <center>Entreprise 2</center>
          </td>
          <td>
              <center>Formation 3</center>
          </td>
        </tr>
        <tr class="table-active">
          <td>
              <a href="{{path('pro_stage_stage',{id:4})}}"><center>Stage 4</center></a>
          </td>
          <td>
              <center>Entreprise 3</center>
          </td>
          <td>
              <center>Formation 1</center>
          </td>
        </tr>
        <tr class="table-active">
          <td>
              <a href="{{path('pro_stage_stage',{id:5})}}"><center>Stage 5</center></a>
          </td>
          <td>
              <center>Entreprise 1</center>
          </td>
          <td>
              <center>Formation 1</center>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block boutons %}
<div class="row">
  <div class="col-md-6">
    <center>
		<a href="{{path('pro_stage_formations')}}">
    <button type="button" class="btn btn-secondary btn-lg btn-block active">
      Filtrer par formations
    </button>
		</a>
    </center>
  </div>
  <div class="col-md-6">
    <center>
		<a href="{{path('pro_stage_entreprises')}}">
    <button type="button" class="btn btn-secondary btn-lg btn-block">
      Filtrer par entreprises
    </button>
		</a>
    </center>
  </div>
</div>
{% endblock %}
