{% extends 'base.html.twig' %}

{% block titre %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

<div class="col-md-12">
  <h3 class="text-center text-info">
    Page d'acceuil ProStage
  </h3>
</div>
			</nav>
		</div>

{% endblock %}

{% block tableau %}
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>
            <center>Stages</center>
          </th>
          <th>
            <center>Entreprises</center>
          </th>
          <th>
            <center>Formations</center>
          </th>
        </tr>
      </thead>
      <tbody>
				{% for stageCourant in stages %}
        <tr class="table-active">
          <td>
              <a href="{{path('pro_stage_stage',{id:stageCourant.id})}}"><center>{{stageCourant.intitule}}</center></a>
          </td>
          <td>
              <center>{{stageCourant.entreprise.nom}}</center>
          </td>
          <td>
						{% for formation in stageCourant.formation %}
            <center>{{formation.intitule}}</center>
						{% endfor %}
          </td>
        </tr>
				{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block boutons %}
<div class="row">
  <div class="col-md-6">
    <center>
		<a href="{{path('pro_stage_formations')}}">
    <button type="button" class="btn btn-secondary btn-lg btn-block active">
      Filtrer par formations
    </button>
		</a>
    </center>
  </div>
  <div class="col-md-6">
    <center>
		<a href="{{path('pro_stage_entreprises')}}">
    <button type="button" class="btn btn-secondary btn-lg btn-block">
      Filtrer par entreprises
    </button>
		</a>
    </center>
  </div>
</div>
{% endblock %}
